*.iml
.gradle
.kotlin
.externalNativeBuild
.cxx
.DS_Store
.trae
.vscode
.worktrees/
/local.properties
/.idea/AndroidProjectSystem.xml
/.idea/deploymentTargetSelector.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea
build/
.cxx
/*/.cxx
/captures
/app/release/
local.properties
